*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button,
input[type="submit"],
label[for] {
  cursor: pointer;
}

[tabindex='-1']:focus {
  outline: none;
}

a,
button,
[role="button"],
input,
label,
select,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.clearfix {
  *zoom: 1;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.js-focus-hidden:focus {
  outline: none;
}

.label-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.no-placeholder .label-hidden {
  position: inherit !important;
  overflow: auto;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}

.visually-shown {
  position: inherit !important;
  overflow: auto;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}

.no-js:not(html) {
  display: none;
}

.no-js .no-js:not(html) {
  display: block;
}

.no-js .js {
  display: none;
}

.supports-no-cookies:not(html) {
  display: none;
}

html.supports-no-cookies .supports-no-cookies:not(html) {
  display: block;
}

html.supports-no-cookies .supports-cookies {
  display: none;
}

.skip-link:focus {
  position: absolute !important;
  overflow: auto;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
  color: #424242;
  background-color: #fff;
  padding: 15px;
  z-index: 10000;
  -webkit-transition: none;
  transition: none;
}

.grid {
  *zoom: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -30px;
}

.grid::after {
  content: '';
  display: table;
  clear: both;
}

.grid__item {
  float: left;
  padding-left: 30px;
  width: 100%;
}

.grid__item[class*='--push'] {
  position: relative;
}

.grid--rev {
  direction: rtl;
  text-align: left;
}

.grid--rev > .grid__item {
  direction: ltr;
  text-align: left;
  float: right;
}

/** Whole */
.one-whole {
  width: 100%;
}

/* Halves */
.one-half {
  width: 50%;
}

/* Thirds */
.one-third {
  width: 33.3333333333%;
}

.two-thirds {
  width: 66.6666666667%;
}

/* Quarters */
.one-quarter {
  width: 25%;
}

.two-quarters {
  width: 50%;
}

.three-quarters {
  width: 75%;
}

/* Fifths */
.one-fifth {
  width: 20%;
}

.two-fifths {
  width: 40%;
}

.three-fifths {
  width: 60%;
}

.four-fifths {
  width: 80%;
}

/* Sixths */
.one-sixth {
  width: 16.6666666667%;
}

.two-sixths {
  width: 33.3333333333%;
}

.three-sixths {
  width: 50%;
}

.four-sixths {
  width: 66.6666666667%;
}

.five-sixths {
  width: 83.3333333333%;
}

/* Eighths */
.one-eighth {
  width: 12.5%;
}

.two-eighths {
  width: 25%;
}

.three-eighths {
  width: 37.5%;
}

.four-eighths {
  width: 50%;
}

.five-eighths {
  width: 62.5%;
}

.six-eighths {
  width: 75%;
}

.seven-eighths {
  width: 87.5%;
}

/* Tenths */
.one-tenth {
  width: 10%;
}

.two-tenths {
  width: 20%;
}

.three-tenths {
  width: 30%;
}

.four-tenths {
  width: 40%;
}

.five-tenths {
  width: 50%;
}

.six-tenths {
  width: 60%;
}

.seven-tenths {
  width: 70%;
}

.eight-tenths {
  width: 80%;
}

.nine-tenths {
  width: 90%;
}

/* Twelfths */
.one-twelfth {
  width: 8.3333333333%;
}

.two-twelfths {
  width: 16.6666666667%;
}

.three-twelfths {
  width: 25%;
}

.four-twelfths {
  width: 33.3333333333%;
}

.five-twelfths {
  width: 41.6666666667%;
}

.six-twelfths {
  width: 50%;
}

.seven-twelfths {
  width: 58.3333333333%;
}

.eight-twelfths {
  width: 66.6666666667%;
}

.nine-twelfths {
  width: 75%;
}

.ten-twelfths {
  width: 83.3333333333%;
}

.eleven-twelfths {
  width: 91.6666666667%;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media only screen and (max-width: 749px) {
  /** Whole */
  .small--one-whole {
    width: 100%;
  }
  /* Halves */
  .small--one-half {
    width: 50%;
  }
  /* Thirds */
  .small--one-third {
    width: 33.3333333333%;
  }
  .small--two-thirds {
    width: 66.6666666667%;
  }
  /* Quarters */
  .small--one-quarter {
    width: 25%;
  }
  .small--two-quarters {
    width: 50%;
  }
  .small--three-quarters {
    width: 75%;
  }
  /* Fifths */
  .small--one-fifth {
    width: 20%;
  }
  .small--two-fifths {
    width: 40%;
  }
  .small--three-fifths {
    width: 60%;
  }
  .small--four-fifths {
    width: 80%;
  }
  /* Sixths */
  .small--one-sixth {
    width: 16.6666666667%;
  }
  .small--two-sixths {
    width: 33.3333333333%;
  }
  .small--three-sixths {
    width: 50%;
  }
  .small--four-sixths {
    width: 66.6666666667%;
  }
  .small--five-sixths {
    width: 83.3333333333%;
  }
  /* Eighths */
  .small--one-eighth {
    width: 12.5%;
  }
  .small--two-eighths {
    width: 25%;
  }
  .small--three-eighths {
    width: 37.5%;
  }
  .small--four-eighths {
    width: 50%;
  }
  .small--five-eighths {
    width: 62.5%;
  }
  .small--six-eighths {
    width: 75%;
  }
  .small--seven-eighths {
    width: 87.5%;
  }
  /* Tenths */
  .small--one-tenth {
    width: 10%;
  }
  .small--two-tenths {
    width: 20%;
  }
  .small--three-tenths {
    width: 30%;
  }
  .small--four-tenths {
    width: 40%;
  }
  .small--five-tenths {
    width: 50%;
  }
  .small--six-tenths {
    width: 60%;
  }
  .small--seven-tenths {
    width: 70%;
  }
  .small--eight-tenths {
    width: 80%;
  }
  .small--nine-tenths {
    width: 90%;
  }
  /* Twelfths */
  .small--one-twelfth {
    width: 8.3333333333%;
  }
  .small--two-twelfths {
    width: 16.6666666667%;
  }
  .small--three-twelfths {
    width: 25%;
  }
  .small--four-twelfths {
    width: 33.3333333333%;
  }
  .small--five-twelfths {
    width: 41.6666666667%;
  }
  .small--six-twelfths {
    width: 50%;
  }
  .small--seven-twelfths {
    width: 58.3333333333%;
  }
  .small--eight-twelfths {
    width: 66.6666666667%;
  }
  .small--nine-twelfths {
    width: 75%;
  }
  .small--ten-twelfths {
    width: 83.3333333333%;
  }
  .small--eleven-twelfths {
    width: 91.6666666667%;
  }
  .grid--uniform .small--one-half:nth-child(2n+1),
  .grid--uniform .small--one-third:nth-child(3n+1),
  .grid--uniform .small--one-quarter:nth-child(4n+1),
  .grid--uniform .small--one-fifth:nth-child(5n+1),
  .grid--uniform .small--one-sixth:nth-child(6n+1),
  .grid--uniform .small--two-sixths:nth-child(3n+1),
  .grid--uniform .small--three-sixths:nth-child(2n+1),
  .grid--uniform .small--one-eighth:nth-child(8n+1),
  .grid--uniform .small--two-eighths:nth-child(4n+1),
  .grid--uniform .small--four-eighths:nth-child(2n+1),
  .grid--uniform .small--five-tenths:nth-child(2n+1),
  .grid--uniform .small--one-twelfth:nth-child(12n+1),
  .grid--uniform .small--two-twelfths:nth-child(6n+1),
  .grid--uniform .small--three-twelfths:nth-child(4n+1),
  .grid--uniform .small--four-twelfths:nth-child(3n+1),
  .grid--uniform .small--six-twelfths:nth-child(2n+1) {
    clear: both;
  }
  .small--show {
    display: block !important;
  }
  .small--hide {
    display: none !important;
  }
  .small--text-left {
    text-align: left !important;
  }
  .small--text-right {
    text-align: right !important;
  }
  .small--text-center {
    text-align: center !important;
  }
}

@media only screen and (min-width: 750px) {
  /** Whole */
  .medium-up--one-whole {
    width: 100%;
  }
  /* Halves */
  .medium-up--one-half {
    width: 50%;
  }
  /* Thirds */
  .medium-up--one-third {
    width: 33.3333333333%;
  }
  .medium-up--two-thirds {
    width: 66.6666666667%;
  }
  /* Quarters */
  .medium-up--one-quarter {
    width: 25%;
  }
  .medium-up--two-quarters {
    width: 50%;
  }
  .medium-up--three-quarters {
    width: 75%;
  }
  /* Fifths */
  .medium-up--one-fifth {
    width: 20%;
  }
  .medium-up--two-fifths {
    width: 40%;
  }
  .medium-up--three-fifths {
    width: 60%;
  }
  .medium-up--four-fifths {
    width: 80%;
  }
  /* Sixths */
  .medium-up--one-sixth {
    width: 16.6666666667%;
  }
  .medium-up--two-sixths {
    width: 33.3333333333%;
  }
  .medium-up--three-sixths {
    width: 50%;
  }
  .medium-up--four-sixths {
    width: 66.6666666667%;
  }
  .medium-up--five-sixths {
    width: 83.3333333333%;
  }
  /* Eighths */
  .medium-up--one-eighth {
    width: 12.5%;
  }
  .medium-up--two-eighths {
    width: 25%;
  }
  .medium-up--three-eighths {
    width: 37.5%;
  }
  .medium-up--four-eighths {
    width: 50%;
  }
  .medium-up--five-eighths {
    width: 62.5%;
  }
  .medium-up--six-eighths {
    width: 75%;
  }
  .medium-up--seven-eighths {
    width: 87.5%;
  }
  /* Tenths */
  .medium-up--one-tenth {
    width: 10%;
  }
  .medium-up--two-tenths {
    width: 20%;
  }
  .medium-up--three-tenths {
    width: 30%;
  }
  .medium-up--four-tenths {
    width: 40%;
  }
  .medium-up--five-tenths {
    width: 50%;
  }
  .medium-up--six-tenths {
    width: 60%;
  }
  .medium-up--seven-tenths {
    width: 70%;
  }
  .medium-up--eight-tenths {
    width: 80%;
  }
  .medium-up--nine-tenths {
    width: 90%;
  }
  /* Twelfths */
  .medium-up--one-twelfth {
    width: 8.3333333333%;
  }
  .medium-up--two-twelfths {
    width: 16.6666666667%;
  }
  .medium-up--three-twelfths {
    width: 25%;
  }
  .medium-up--four-twelfths {
    width: 33.3333333333%;
  }
  .medium-up--five-twelfths {
    width: 41.6666666667%;
  }
  .medium-up--six-twelfths {
    width: 50%;
  }
  .medium-up--seven-twelfths {
    width: 58.3333333333%;
  }
  .medium-up--eight-twelfths {
    width: 66.6666666667%;
  }
  .medium-up--nine-twelfths {
    width: 75%;
  }
  .medium-up--ten-twelfths {
    width: 83.3333333333%;
  }
  .medium-up--eleven-twelfths {
    width: 91.6666666667%;
  }
  .grid--uniform .medium-up--one-half:nth-child(2n+1),
  .grid--uniform .medium-up--one-third:nth-child(3n+1),
  .grid--uniform .medium-up--one-quarter:nth-child(4n+1),
  .grid--uniform .medium-up--one-fifth:nth-child(5n+1),
  .grid--uniform .medium-up--one-sixth:nth-child(6n+1),
  .grid--uniform .medium-up--two-sixths:nth-child(3n+1),
  .grid--uniform .medium-up--three-sixths:nth-child(2n+1),
  .grid--uniform .medium-up--one-eighth:nth-child(8n+1),
  .grid--uniform .medium-up--two-eighths:nth-child(4n+1),
  .grid--uniform .medium-up--four-eighths:nth-child(2n+1),
  .grid--uniform .medium-up--five-tenths:nth-child(2n+1),
  .grid--uniform .medium-up--one-twelfth:nth-child(12n+1),
  .grid--uniform .medium-up--two-twelfths:nth-child(6n+1),
  .grid--uniform .medium-up--three-twelfths:nth-child(4n+1),
  .grid--uniform .medium-up--four-twelfths:nth-child(3n+1),
  .grid--uniform .medium-up--six-twelfths:nth-child(2n+1) {
    clear: both;
  }
  .medium-up--show {
    display: block !important;
  }
  .medium-up--hide {
    display: none !important;
  }
  .medium-up--text-left {
    text-align: left !important;
  }
  .medium-up--text-right {
    text-align: right !important;
  }
  .medium-up--text-center {
    text-align: center !important;
  }
}

.page-width {
  *zoom: 1;
  max-width: 1180px;
  padding: 0 30px;
  margin: 0 auto;
}

.page-width::after {
  content: '';
  display: table;
  clear: both;
}

.outlet .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
}

.outlet .no-svg .icon {
  display: none;
}

.outlet .icon--wide {
  width: 40px;
}

svg.icon:not(.icon--full-color) circle,
svg.icon:not(.icon--full-color) ellipse,
svg.icon:not(.icon--full-color) g,
svg.icon:not(.icon--full-color) line,
svg.icon:not(.icon--full-color) path,
svg.icon:not(.icon--full-color) polygon,
svg.icon:not(.icon--full-color) polyline,
svg.icon:not(.icon--full-color) rect,
symbol.icon:not(.icon--full-color) circle,
symbol.icon:not(.icon--full-color) ellipse,
symbol.icon:not(.icon--full-color) g,
symbol.icon:not(.icon--full-color) line,
symbol.icon:not(.icon--full-color) path,
symbol.icon:not(.icon--full-color) polygon,
symbol.icon:not(.icon--full-color) polyline,
symbol.icon:not(.icon--full-color) rect {
  fill: inherit;
  stroke: inherit;
}

.icon-fallback-text {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.no-svg .icon-fallback-text {
  position: static !important;
  overflow: auto;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}

.payment-icons {
  -moz-user-select: "none";
  -ms-user-select: "none";
  -webkit-user-select: "none";
  user-select: "none";
  cursor: default;
}

.icon-shopify-logo {
  width: 82.2857142857px;
  height: 24px;
}

table.full {
  width: 100%;
}

table.full th {
  text-align: left;
}

.btn:not(.inline-cart-new__checkout-btn) {
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

input,
textarea,
select {
  border-radius: 0;
  max-width: 100%;
}

input[disabled],
textarea[disabled],
select[disabled] {
  cursor: default;
}

textarea {
  min-height: 100px;
}

select {
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;
}

.ie9 select {
  padding-right: 10px;
}

select::-ms-expand {
  display: none;
}

.grid-view-item {
  margin-bottom: 35px;
}

.grid-view-item__image-wrapper .grid-view-item__image {
  position: relative;
  display: block; 
  max-width: 100%; 
  margin: 0 auto 10px; 
  max-height: 200px;
}

.grid-view-item__image {
  max-width: 100%;
}

#customer-card-form {
  width: 100%;
}

input.error {
  border-color: #d20000;
  background-color: #fff8f8;
}

.error-message {
  color: #d20000;
  font-size: 11px;
  margin-top: 0;
}

.rc_form {
  width: 100%;
}

.rc_form__group label {
  display: block;
}

.rc_option__wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    width: auto;
}

.rc_option {
    margin-bottom: 10px;
    padding: 0 5px 0 0;
}

ul.rc_toaster {
  position: fixed;
  max-width: 85%;
  color: #FFF;
  bottom: 27px;
  margin: 0;
  padding: 0;
  right: 27px;
  z-index: 2000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: height 1s;
  transition: height 1s;
}

li.rc_toast {
  width: 100%;
  padding: 12px 15px;
  background: #AAA;
  color: #FFF;
  margin: 10px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: popup 0.6s cubic-bezier(0.1, 1.06, 0.6, 1.34), hide 0.4s 3s;
  animation: popup 0.6s cubic-bezier(0.1, 1.06, 0.6, 1.34), hide 0.4s 3s;
}

li.rc_toast p,
li.rc_toast p:before,
li.rc_toast span:before {
  display: inline-block;
}

li.rc_toast p:before {
  content: "\2014";
  margin: 0 6px;
}

li.rc_toast p {
  color: #FFF;
  margin: 0;
  padding: 0;
}

span.rc_toast__type:before,
span.rc_toast__button:before {
  font-family: fontawesome;
  margin-right: 6px;
}

span.rc_toast__button:before {
  content: "\f00d";
  margin: 0 0 0 30px;
}

li.rc_toast.rc_toast--error {
  background-color: #ec3d11;
}

li.rc_toast.rc_toast--error span.rc_toast__type:before {
  content: "\f071";
}

li.rc_toast.rc_toast--success {
  background-color: #2bac8f;
  bottom: 95px;
}

li.rc_toast.rc_toast--success span.rc_toast__type:before {
  content: "\f00c";
}

li.rc_toast.rc_toast--warning {
  background-color: #fb8309;
}

li.rc_toast.rc_toast--warning span.rc_toast__type:before {
  content: "\f071";
}

@media screen and (min-width: 768px) {
  .rc_toast {
    white-space: nowrap;
  }
}

@-webkit-keyframes popup {
  from {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes popup {
  from {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes hide {
  from {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
