{% extends "base.html" %}

{% block content %}
<h3 class="outlet-heading">Cancel {{ subscription.product_title }}</h3>
<div class="outlet-content" data-customer-hash="{{ customer.hash }}">
    <p class="delivery-notice">
        {{ retention_strategy.prevention_text }}
    </p>

    <div class="border-bottom">
        {% if retention_strategy.incentive_type == 'discount' %}
        <form method="post" action="{{ subscription.address_id | discount_apply_url }}" id="ReChargeForm_strategy">
            <input type="hidden" name="redirect_url" value="{{ subscription_list_url }}">
            <input type="hidden" value="{{ retention_strategy.discount_code }}" name="discount_code">
            <p>
                <button type="submit" class="btn">Apply discount "{{ retention_strategy.discount_code }}"</button>
            </p>
        </form>
        {% elif retention_strategy.incentive_type == 'skip_charge' %}
        <form method="post" action="{{ subscription.id | subscription_skip_url }}" id="ReChargeForm_strategy">
            <input type="hidden" name="redirect_url" value="{{ subscription.id | subscription_url }}">
            <p>
                <button type="submit" class="btn">Skip next order</button>
            </p>
        </form>
        {% elif retention_strategy.incentive_type == 'delay_subscription' %}
        <script>
            function set_delay_date(delay) {
                // Use next charge date with a delay modifier to calculate new charge date with delay
                var date = new Date('{{ subscription.next_charge_scheduled_at }}');
                date.setDate(date.getDate() + parseInt(delay));
                document.querySelector('[name="date"]').value = [
                    date.getFullYear(),
                    ('0' + (date.getMonth() + 1)).slice(-2),
                    ('0' + date.getDate()).slice(-2)
                ].join('-')
            }
        </script>
        <form method="post" action="{{ subscription.id | subscription_set_next_charge_date_url }}"
            id="ReChargeForm_strategy">
            <input type="hidden" name="redirect_url" value="{{ subscription_list_url }}">
            <input type="hidden" name="date" id="date"
                value="{{ subscription.next_charge_scheduled_at | date('%Y-%m-%d') }}">
            <p>
                <label for="delay_days_15">
                    <input type="radio" value="15" id="delay_days_15" name="delay"
                        onclick="set_delay_date(this.value);"> 15 Days
                </label>
                <label for="delay_days_30">
                    <input type="radio" value="30" id="delay_days_30" name="delay"
                        onclick="set_delay_date(this.value);"> 30 Days
                </label>
                <label for="delay_days_45">
                    <input type="radio" value="45" id="delay_days_45" name="delay"
                        onclick="set_delay_date(this.value);"> 45 Days
                </label>
            </p>
            <p>
                <button type="submit" class="btn">Delay order</button>
            </p>
        </form>
        {% elif retention_strategy.incentive_type == 'swap_product' and subscription.is_swappable %}
        <p id="ReChargeForm_strategy">
            <a href="{{ subscription.id | subscription_swap_search_url }}" class="btn">Swap product with something
                else</a>
        </p>
        {% endif %}

        {% if retention_strategy.incentive_type %}
        <br>
        <p>
            <a href="#" onclick="ReCharge.Helpers.toggle('ReChargeForm_cancel'); return false;"
                class="btn btn--secondary">No thanks</a>
        </p>
        <br>
        {% endif %}
        {# cancel #}
        <div class="modal cancel-modal cancel-modal-{{ subscription.id }}" style="display: none;">
            <div class="modal__content">
                <h4 class="modal-title">Are you sure you would like to cancel?</h4>
                <p class="modal-body">

                </p>
                <button class="modal-cta btn" data-url="{{ subscription | subscription_url }}">
                    Cancel
                </button>
            </div>
            <button class="modal__overlay"></button>
        </div>
        <fieldset id="ReChargeForm_cancel" {% if retention_strategy.incentive_type %} style="display: none;"
            {% endif %}>
            <input type="hidden" name="redirect_url" value="{{ subscription_list_url }}">
            <input type="hidden" name="cancellation_reason" value="{{ retention_strategy.cancellation_reason }}">
            <div class="form-control">
                <label for="cancellation_reason_comments">Comments:</label>
                <div class="styled-textarea">
                    <textarea class="styled-input" id="cancellation_reason_comments"
                        name="cancellation_reason_comments"></textarea>
                </div>
            </div>
            <button
                type="submit"
                class="btn cancel-submit-{{ subscription.id }}"
                data-properties='{{ subscription.properties | json }}'
                name="cancel"
                id="cancel"
                onclick="handleUpdates({
					id: {{ subscription.id }},
                    input: 'cancel',
                    initialValue: `{{ retention_strategy.cancellation_reason }}`, });"
            >
              Cancel subscription
          	</button>
        </fieldset>
    </div>
    <div class="subs-links">
        <a href="{{ subscription_list_url }}">Return to subscription</a>
    </div>
</div>
{% endblock %}
