{% extends "base.html" %}

{% block content %}
	<h2 class="outlet-heading mobile-off">Cancel Subscription</h2>
    <div class="outlet-content" data-customer-hash="{{ customer.hash }}"> 
    <h3>{{ subscription.product_title }}</h3>
    <p>
        {% for strategy in retention_strategies %}
            <a href="{{ subscription.id | retention_strategy_url(strategy) }}">{{ strategy.cancellation_reason }}</a>      <br>
        {% endfor %}
        <br>
    </p>
 
        <a class="btn" href="{{ subscription_list_url }}">Return to subscription</a>
 
{% endblock %}
